# Python
*.py[cod]
*$py.class
__pycache__/
*.so
*.egg-info/
dist/
build/
eggs/
*.egg
.Python
env/
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/static/
media/

# Docker
.docker/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Kubernetes
*.kubeconfig

# Environment
.env
.env.local
venv/
